#app-cont {
    display: inline-flex;
    flex-flow: row wrap;
}

#d3-cont, #status {
    width: 62vw;
}

#status, #selections {
    height: 28vh;
}

#d3-cont {
    height: 68vh;

    #chart-el {
        width: 99%;
        height: 99%;

        .node {
            cursor: pointer;

            &.selected-node {
                circle {
                    fill: #F48542;
                }

                text {
                    font-weight: bold;
                }
            }

            circle {
                fill: #FFFFFF;
                stroke: #F48542;
                stroke-width: 1.5px;
            }

            text {
                font: 10px sans-serif;
            }
        }
        .brace, .link {
            fill: none;
            stroke: #444444;
        }
        .stem {
            fill: #444444;
        }
        .text-bg {
            fill: #FFFFFF;
        }
    }
}

#values, #selections {
    width: 34vw;
}

#selections {
    height: 28vh;
}

#value {
    height: 28vh;
}

.panel {
    margin: 1vh 1vw;
    overflow: auto;
    margin-bottom: 1vh !important;
}

#background {
    background-color: #999999;
    display: block;
}

.value-grid {

    table {

        thead tr th {
            cursor: pointer;
            white-space: nowrap;

            &:after {
                content: '\0020';
                margin-left: 5px;
                width: 1em;
                display: inline-block;
            }

            &.st-sort-ascent:after {
                content: '\25B2';
            }

            &.st-sort-descent:after {
                content: '\25BC';
            }
        }

        tbody tr.st-selected {
            color: #FFFFFF;
            background-color: #F48542;
        }
    }
}