.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

#app-cont {
    display: inline-flex;
}

#d3-cont {
    width: 70vw;
}

#chart-el {
    width: 99%;
    height: 99%;
}

#values {
    width: 22vw;
}

.panel {
    margin: 2vh 2vw;
    height: 96vh;
    overflow: auto;
    margin-bottom: 2vh !important;
}

#background {
    background-color: #999999;
    width: 100vw;
    height: 100vh;
}