- var config = {'name': 'Name', 'value': 'Value', 'count': 'Count'};
    
div.value-grid
    table.table.table-striped(st-table='displayedCollection', st-safe-src='rowCollection')
      thead
        tr
          each value, key in config
            th(st-sort=key)= value
      tbody
        tr(ng-repeat='row in displayedCollection', st-select-row='row', st-select-mode='multiple', ng-click='rowClick(row)')
          each value, key in config
            td(ng-bind='row.#{key}')